---
import { getCollection } from "astro:content";
import { render } from "studiocms:markdown-remark";

const posts = await getCollection("blog");
const rendered = (await render(posts[0].body ?? "Nothing")).html.toString()
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Fragment set:html={rendered} />
	</body>
</html>
